        body {
            background-color: #e6e6fa;
        }
        .container {
            max-width: 900px;
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top:30px;
        }
        .left-side {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .left-side img {
            max-width: 100%;
            height: auto;
        }
        .login-btn {
            background-color: #6a5acd;
            color: white;
        }
        .social-btn {
            width: 100%;
            margin-bottom: 10px;
        }
        .link a{
            text-decoration:none;
        }
        .link a:hover{
            font-weight: bold;
        }